{{#models}}{{#model}}import { {{classname}}, {{classname}}Schema } from './{{classFilename}}';
export * from './{{classFilename}}';{{/model}}
{{/models}}

export const schemaMap = {
    {{#models}}{{#model}}'{{name}}': {{classname}}Schema,
    {{/model}}{{/models}}
}