# mdbook build artifacts
/book/

# Docker-compose environment file
.env

# Dynamicbeat test configurations
/dynamicbeat/dynamicbeat.yml

# Generated docs files
/docs/dynamicbeat/reference/*
!/docs/dynamicbeat/reference/.gitkeep